.navbar {
    width: 100%;
    background: #cce3ea;
    /* tu background general */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    position: relative;
}

/* Botón del menú */
.menuButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    display: flex;
    align-items: center;
}

/* Título centrado */
.title {
    flex: 1;
    text-align: center;
    font-size: 35px;
    color: black;
    margin: 0;
    font-weight: 600;
}

/* Este placeholder asegura que el título quede perfectamente centrado */
.placeholder {
    width: 32px;
}

/* Línea divisoria */
.divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #424c59;
}