.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 24px;
}

.content {
  width: 100%;
  max-width: 1200px;
  padding: 24px;
  background: white;
  border-left: 1px solid rgba(0, 0, 0, 0.04);
  border-right: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}
