.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  border-bottom: 2px solid var(--secondary-color);
  z-index: 1000; /* para que quede encima del contenido */
}

.navbar-title {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  flex: 1;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.menu-button {
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  align-items: center;
}
