.container {
  padding: 20px;
  max-width: 700px;
  margin: auto;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px #ccc;
}

.actionsRow {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.noFound {
  background: #ffe4e4;
  padding: 20px;
  border-radius: 10px;
}

.calendarContainer {
  margin-top: 20px;
}

.turno {
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background: #f5f5f5;
}

.ocupado {
  background: #ffb3b3;
  cursor: not-allowed;
}

.libre:hover {
  background: #c6ffc6;
}
